<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>- ZRL 2v2 Tournament, February 2011 -</title>
    <link href="/site_media/2v2.css" media="all" rel="stylesheet" type="text/css"/>
    <script language="javascript" src="/site_media/js/json2.js" type="text/javascript"></script>
    <script language="javascript" src="/site_media/js/underscore-min.js" type="text/javascript"></script>
    <script language="javascript" src="/site_media/js/jquery-1.5.min.js" type="text/javascript"></script>
    <script language="javascript" src="/site_media/js/backbone-min.js" type="text/javascript"></script>
    <script language="javascript" src="/site_media/js/2v2.js" type="text/javascript"></script>
  </head>
  <body>
    <img id='logo_bg' src='/site_media/img/sc2-logo.jpg' style='display:none' />
    <script id='grid_template' type='text/template'>
      <div id='grid'>
        <div class='cell' data-col='0' data-row='0'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='1' data-row='0'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='2' data-row='0'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='3' data-row='0'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='4' data-row='0'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='5' data-row='0'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='6' data-row='0'>
          <input type='checkbox' />
        </div>
        <div class='cell last_col' data-col='7' data-row='0'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='0' data-row='1'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='1' data-row='1'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='2' data-row='1'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='3' data-row='1'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='4' data-row='1'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='5' data-row='1'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='6' data-row='1'>
          <input type='checkbox' />
        </div>
        <div class='cell last_col' data-col='7' data-row='1'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='0' data-row='2'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='1' data-row='2'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='2' data-row='2'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='3' data-row='2'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='4' data-row='2'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='5' data-row='2'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='6' data-row='2'>
          <input type='checkbox' />
        </div>
        <div class='cell last_col' data-col='7' data-row='2'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='0' data-row='3'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='1' data-row='3'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='2' data-row='3'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='3' data-row='3'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='4' data-row='3'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='5' data-row='3'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='6' data-row='3'>
          <input type='checkbox' />
        </div>
        <div class='cell last_col' data-col='7' data-row='3'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='0' data-row='4'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='1' data-row='4'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='2' data-row='4'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='3' data-row='4'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='4' data-row='4'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='5' data-row='4'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='6' data-row='4'>
          <input type='checkbox' />
        </div>
        <div class='cell last_col' data-col='7' data-row='4'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='0' data-row='5'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='1' data-row='5'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='2' data-row='5'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='3' data-row='5'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='4' data-row='5'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='5' data-row='5'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='6' data-row='5'>
          <input type='checkbox' />
        </div>
        <div class='cell last_col' data-col='7' data-row='5'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='0' data-row='6'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='1' data-row='6'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='2' data-row='6'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='3' data-row='6'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='4' data-row='6'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='5' data-row='6'>
          <input type='checkbox' />
        </div>
        <div class='cell' data-col='6' data-row='6'>
          <input type='checkbox' />
        </div>
        <div class='cell last_col' data-col='7' data-row='6'>
          <input type='checkbox' />
        </div>
        <div class='cell last_row' data-col='0' data-row='7'>
          <input type='checkbox' />
        </div>
        <div class='cell last_row' data-col='1' data-row='7'>
          <input type='checkbox' />
        </div>
        <div class='cell last_row' data-col='2' data-row='7'>
          <input type='checkbox' />
        </div>
        <div class='cell last_row' data-col='3' data-row='7'>
          <input type='checkbox' />
        </div>
        <div class='cell last_row' data-col='4' data-row='7'>
          <input type='checkbox' />
        </div>
        <div class='cell last_row' data-col='5' data-row='7'>
          <input type='checkbox' />
        </div>
        <div class='cell last_row' data-col='6' data-row='7'>
          <input type='checkbox' />
        </div>
        <div class='cell last_col last_row' data-col='7' data-row='7'>
          <input type='checkbox' />
        </div>
      </div>
    </script>
    <script id='top_bar_template' type='text/template'>
      <div id='top_bar'>
        <div class='cell'>
          <div class='rot'>
            Team 0
          </div>
        </div>
        <div class='cell'>
          <div class='rot'>
            Team 1
          </div>
        </div>
        <div class='cell'>
          <div class='rot'>
            Team 2
          </div>
        </div>
        <div class='cell'>
          <div class='rot'>
            Team 3
          </div>
        </div>
        <div class='cell'>
          <div class='rot'>
            Team 4
          </div>
        </div>
        <div class='cell'>
          <div class='rot'>
            Team 5
          </div>
        </div>
        <div class='cell'>
          <div class='rot'>
            Team 6
          </div>
        </div>
        <div class='cell last'>
          <div class='rot'>
            Team 7
          </div>
        </div>
      </div>
    </script>
    <script id='left_bar_template' type='text/template'>
      <div id='left_bar'>
        <div class='cell'>
          Team 0
        </div>
        <div class='cell'>
          Team 1
        </div>
        <div class='cell'>
          Team 2
        </div>
        <div class='cell'>
          Team 3
        </div>
        <div class='cell'>
          Team 4
        </div>
        <div class='cell'>
          Team 5
        </div>
        <div class='cell'>
          Team 6
        </div>
        <div class='cell last'>
          Team 7
        </div>
      </div>
    </script>
    <script id='team_list_template' type='text/template'>
      <div id='team_list'>
        <div class='first team_entry'>
          <div class='team_name'>
            Name
          </div>
          <div class='player'>
            Player
          </div>
          <div class='player'>
            Player
          </div>
        </div>
        <div class='team_entry'>
          <div class='team_name'>
            Name
          </div>
          <div class='player'>
            Player
          </div>
          <div class='player'>
            Player
          </div>
        </div>
        <div class='team_entry'>
          <div class='team_name'>
            Name
          </div>
          <div class='player'>
            Player
          </div>
          <div class='player'>
            Player
          </div>
        </div>
        <div class='team_entry'>
          <div class='team_name'>
            Name
          </div>
          <div class='player'>
            Player
          </div>
          <div class='player'>
            Player
          </div>
        </div>
        <div class='team_entry'>
          <div class='team_name'>
            Name
          </div>
          <div class='player'>
            Player
          </div>
          <div class='player'>
            Player
          </div>
        </div>
        <div class='team_entry'>
          <div class='team_name'>
            Name
          </div>
          <div class='player'>
            Player
          </div>
          <div class='player'>
            Player
          </div>
        </div>
        <div class='team_entry'>
          <div class='team_name'>
            Name
          </div>
          <div class='player'>
            Player
          </div>
          <div class='player'>
            Player
          </div>
        </div>
        <div class='team_entry'>
          <div class='team_name'>
            Name
          </div>
          <div class='player'>
            Player
          </div>
          <div class='player'>
            Player
          </div>
        </div>
      </div>
    </script>
  </body>
</html>
